<%- include('partials/header') %>

<div class="container mt-5">
    <h1 class="h1 py-4 text-center">Dashboard</h1>
    <div class="row px-5">
        <div class="col-md-3 col-sm-6 shdw-light py-4 text-center mt-3"
            onclick="render_chart('graph','ECG','line',' V','Volatage in Volts',val,'ecg')">
            <a>
                <h2><i class="fas fa-heartbeat"></i> ECG</h2>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 shdw-light py-4 text-center mt-3"
            onclick="render_chart('graph','TEMPERATURE','line',' F','Temperature in Fahrenheits',val,'temperature')">
            <a>
                <h2><i class="fas fa-temperature-high"></i> Temperature</h2>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 shdw-light py-4 text-center mt-3"
            onclick="render_chart('graph','SPO2','spline',' F','Oxygen in Volumes',val,'spo2')">
            <a>
                <h2>
                    <image src="images/svg/high.svg" width="30 rem" height="30 rem"></image> SPO2
                </h2>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 shdw-light py-4 text-center mt-3"
            onclick="render_chart('graph','BLOOD PRESSURE','spline',' F','Pressure in pascals',val,'bp')">
            <a>
                <h2>
                    <image src="images/bp.jpeg" width="40 rem" height="40 rem"></image> BP
                </h2>
            </a>
        </div>
    </div>
    <div id="graph" class="my-5"></div>
</div>



<script>
    var val = '<%- JSON.stringify(health) %>';
</script>
<%- include('partials/footer') %>