<%- include('partials/gradient-header') %>

<div class="container-fluid px-5" style="margin-top: 80px;">
    <!-- <h1 class="h1 py-4 text-center">Dashboard</h1> -->
    <div class="row justify-content-center">
        <div class="col-lg-6 mx-2">
            <h1>Last results</h1>

            <div class="p-1" style="background-color: rgba(0,0,255,0.1);">
                <div class="container-fluid">
                    <div class="row text-center my-2">
                        <div class="col-3 font-weight-bold text-left">
                            BP
                        </div>
                        <div class="col-3">
                            82/130 mmHg
                        </div>
                        <div class="col-3">
                            29/07/20
                        </div>
                        <div class="col-3">
                            HIGH
                        </div>
                    </div>
                    <div class="row text-center  my-2">
                        <div class="col-3 font-weight-bold text-left">
                            ECG
                        </div>
                        <div class="col-3">
                            99 V
                        </div>
                        <div class="col-3">
                            29/07/20
                        </div>
                        <div class="col-3">
                            HIGH
                        </div>
                    </div>
                    <div class="row text-center  my-2">
                        <div class="col-3 font-weight-bold text-left">
                            Temperature
                        </div>
                        <div class="col-3">
                            99 F
                        </div>
                        <div class="col-3">
                            29/07/20
                        </div>
                        <div class="col-3">
                            Normal
                        </div>
                    </div>
                    <div class="row text-center my-2">
                        <div class="col-3 font-weight-bold text-left">
                            SP02
                        </div>
                        <div class="col-3">
                            99%
                        </div>
                        <div class="col-3">
                            29/07/20
                        </div>
                        <div class="col-3">
                            Normal
                        </div>
                    </div>
                    <div class="row text-center my-2">
                        <div class="col-3 font-weight-bold text-left">
                            Heart Rate
                        </div>
                        <div class="col-3">
                            99 bpm
                        </div>
                        <div class="col-3">
                            29/07/20
                        </div>
                        <div class="col-3">
                            HIGH
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-5 mx-2">
            <h1>Past Reports</h1>
            <div class="row justify-content-center py-3" id="social-icons-row"
                style="background-color: rgba(0,0,255,0.1);">
                <div class="my-2 col-sm-5 text-center">
                    <a>
                        <div class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable"
                            onclick="render_chart('graph','ECG','line',' V','Volatage in Volts',val,'ecg',30)">
                            <i class="fas fa-file-medical-alt"></i> ECG
                        </div>
                    </a>
                </div>
                <div class="my-2 col-sm-5 text-center"
                    onclick="render_chart('graph','TEMPERATURE','line',' F','Temperature in Fahrenheits',val,'temperature',30)">
                    <a>
                        <div class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable">
                            <i class="fas fa-temperature-high"></i> Temperature
                        </div>
                    </a>
                </div>
                <div class="my-2 col-sm-5 text-center"
                    onclick="render_chart('graph','SPO2','spline',' ','Oxygen in Volumes',val,'spo2',30)">
                    <a>
                        <div class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable">
                            <i class="fas fa-lungs"></i> SPO2
                        </div>
                    </a>
                </div>
                <div class="my-2 col-sm-5 text-center"
                    onclick="render_chart_bp('graph','BLOOD PRESSURE',' mmHg','Pressure in mmHg',val,'bp',30)">
                    <a>
                        <div class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable">
                            <i class="fas fa-map-marker-alt pr-1"></i> BP
                        </div>
                    </a>
                </div>
                <div class="my-2 col-sm-5 text-center"
                    onclick="render_chart('graph','HEART RATE','line',' bpm','Beats per minute',val,'heartrate',30)">
                    <a>
                        <div class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable">
                            <i class="fas fa-heartbeat"></i> Heart Rate
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col-lg-3 col-sm-12 mt-3 d-none" id="filter-report">
            <h1>Filter Reports</h1>
            <div class="container py-3 text-center" style="background-color: rgba(0,0,255,0.1);">
                <button class="btn btn-primary my-3" onclick="filter_days_driver(15)">
                    <a>
                        15 Days
                    </a>
                </button>
                <button class="btn btn-primary my-3" onclick="filter_days_driver(30)">
                    <a>
                        1 Month
                    </a>
                </button>
                <button class="btn btn-primary my-3" onclick="filter_days_driver(365)">
                    <a>
                        1 Year
                    </a>
                </button>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12 mt-3">
            <div id="graph" class=""></div>
        </div>
    </div>
</div>

<script>
    var val = '<%- JSON.stringify(health) %>';
    console.log(val);
</script>
<%- include('partials/footer') %>