<%- include('partials/header') %>

<div class="container-fluid mt-5">
	<div class="row py-5">
		<div class="col-sm-12 col-md-7 col-lg-5 mx-auto">
			<form class="border border-light p-5 z-depth-1-half" method="POST" action="/register">

				<p class="h4 mb-4">Sign up</p>

				<!-- Grid row -->

				<%if(typeof error !== undefined && error != ""){%>
				<div class="alert alert-danger" role="alert">
					<%=error%>
				</div>
				<%}%>
					
		    <div class="form-group row">
			    <label for="Username" class="col-sm-2 col-form-label"><i class="fas fa-user prefix"></i></label>
			    <div class="col-sm-10">
			      <div class="md-form mt-0">
			        <input type="text" class="form-control" id="UserName" required name="username" placeholder="Username *">
			      </div>
			    </div>
			  </div>
		    <div class="form-group row">
			    <label for="email" class="col-sm-2 col-form-label"><i class="fas fa-envelope prefix"></i></label>
			    <div class="col-sm-10">
			      <div class="md-form mt-0">
			        <input type="email" class="form-control" id="email" required name="email" placeholder="Email *">
			      </div>
			    </div>
			  </div>

		    <div class="form-group row">
			    <label for="inputPassword3MD" class="col-sm-2 col-form-label"><i class="fas fa-key prefix"></i></label>
			    <div class="col-sm-10">
			      <div class="md-form mt-0">
			        <input type="password" class="form-control" id="Passowrd" required name="password" placeholder="Password *">
			        <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
		        		Use 8 character password for more security
		    		</small>
			      </div>
			    </div>
			  </div>

			  <div class="form-group row">
			    <label for="inputPassword3MD" class="col-sm-2 col-form-label"><i class="fas fa-unlock prefix"></i></label>
			    <div class="col-sm-10">
			      <div class="md-form mt-0">
			        <input type="password" class="form-control" id="Passowrd" required name="confirmPassword" placeholder="Confirm Password *">
			        <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
		        		Use 8 character password for more security
		    		</small>
			      </div>
			    </div>
			  </div>
			  
			  <div class="form-group row">
			    <label for="Username" class="col-sm-2 col-form-label"><i class="fas fa-venus-mars prefix"></i></label>
			    <div class="col-sm-10">
					<div class="md-form mt-0"> 
						<select class="form-control" required name="gender" id="gender">
							<option value="" disabled selected>Gender *</option>
							<option value="male" >Male</option>
							<option value="female" >Female</option>
						</select>
					</div>
			  </div>
			  </div>

			  <div class="form-group row">
			    <label for="Username" class="col-sm-2 col-form-label"><i class="fas fa-calendar-alt prefix"></i></label>
			    <div class="col-sm-10">
			      <div class="md-form mt-0">
			        <input type="number" class="form-control" id="age" required name="age" placeholder="Age *">
			      </div>
			    </div>
			  </div>

			  <div class="form-group row">
			    <label for="Username" class="col-sm-2 col-form-label"><i class="fas fa-balance-scale prefix"></i></label>
			    <div class="col-sm-10">
			      <div class="md-form mt-0">
			        <input type="number" step=".01" class="form-control" id="weight" required name="weight" placeholder="Weight in Kgs *">
			      </div>
			    </div>
			  </div>

			  <div class="form-group row">
			    <label for="Username" class="col-sm-2 col-form-label"><i class="fas fa-ruler-vertical prefix"></i></label>
			    <div class="col-sm-10">
			      <div class="md-form mt-0">
			        <input type="number" step=".01"class="form-control" id="height" required name="height" placeholder="Height in cm *">
			      </div>
			    </div>
			  </div>
		    <button class="btn btn-primary my-4 btn-block" type="submit">Sign Up</button>

		    <p>By clicking
		        <em>Sign up</em> you agree to our
		        <a href="" target="_blank">terms and conditions</a></p>

		        <p>Already have an
		        <em>Account?</em> Login
		        <a href="/login">Here</a>

		</form>
</div>

</div>
</div>
<%- include('partials/footer') %>